<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSPandServlet-CodewithDurgesh</display-name>
  
  <!-- Declaring welcomd page -->
<welcome-file-list>
	<welcome-file>home.html</welcome-file> 
	<!-- we can mention multiple file names here, if one is not found it will check the second and so on... -->
</welcome-file-list>
  
  
  
  
  
  
  <!-- Servlet Mapping/COnfiguration -->
  
<servlet>
	<servlet-name>form</servlet-name>
	<servlet-class>com._4SubmitFormToServletandFetchDataFromForm.SubmitFormAndFetchData</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>form</servlet-name>
	<url-pattern>/RegisterServlet</url-pattern> <!-- give the form action as url-patter -->
</servlet-mapping>

<servlet>
	<servlet-name>success</servlet-name>
	<servlet-class>com._4SubmitFormToServletandFetchDataFromForm.SuccessServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>success</servlet-name>
	<url-pattern>/success</url-pattern> <!-- give the form action as url-patter -->
</servlet-mapping>


 
</web-app>